<div class="wholePage">

  <nav style="color: white"> 
  
    <div class="nav-kasten1 nav-kasten">
      <img
          alt="Logo der Hochschule Worms"
          src="../../assets/Images/hswormslogo.png"
          width="64"
          height="64"
          class="inline-block"
        />
    </div>
    <div class="nav-kasten2 nav-kasten">
      <a href="home" class="fw-bold text-decoration-none" style="color: white; padding-left: 10%">Startseite</a>
    </div>
      <div class="nav-kasten3 nav-kasten">
        <a href="impressum" class="fw-bold text-decoration-none" style="color: white; padding-left: 10%">Impressum</a>
      </div>
      <div class="nav-kasten4 nav-kasten">
        <h1>Team Green</h1>
      </div>
      <div class="nav-kasten5 nav-kasten">
        
      </div>
      <div class="nav-kasten6 nav-kasten">
        <a href="team" class="fw-bold text-decoration-none" style="color: white">Das Team</a>
      </div>
      <div class="nav-kasten7 nav-kasten">
        <img
            alt="Team Green Logo"
            src="../../assets/Images/teamgreenlogo.png"
            width="80"
            height="80"
            class="inline-block"
          />
      </div>
</nav>

<div
class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 col-xl-0 offset-xl-2 text-center wholeBox"
>
<form
  class="rounded shadow-lg p-5"
  style="background-color: rgba(0, 0, 0, 0.6); color: white; width: 1000px; position: relative; top: -140px"
>
  <h1>Impressum</h1>

  <p>
    Die Projekte unterhalb von https://gitlab.rlp.net/top und die zugehörigen Webseiten mit Präfix https://top.pages.gitlab.rlp.net werden für das Modul Projektmanagement und Teamorientiertes Projekt (TOP) im Bachelor-Studiengang Angewandte Informatik (B.Sc.) der Hochschule Worms auf der GitLab-Instanz der Rechenzentrumsallianz Rheinland-Pfalz (RARP) bereitgestellt. <br> <br>
    Es gilt das Impressum der RARP für diese GitLab-Instanz: https://rarp.rlp.net/impressum/ . <br> <br>
    Inhaltlich verantwortlich für die Projekte und Webseiten des TOP sind
  </p>
    <ul>
      <li>der Modulverantwortliche, Prof. Dr.-Ing. Herbert Thielen (E-Mail: thielen@hs-worms.de)</li>
      <li>der Dekan des Fachbereichs Informatik der Hochschule Worms, Prof. Dr. Werner König (E-Mail: koenig@hs-worms.de)</li>
    </ul>

    <h1>Datenschutzerklärung</h1>

    <p>
      Es gilt die Datenschutzerklärung der RARP für diese GitLab-Instanz: https://rarp.rlp.net/datenschutz/ . <br><br>  
      Das für die Projekte genutzte und weltweit für Software-Entwicklung übliche Versionsverwaltungssystem Git beruht auf einer dauerhaften, mit kryptographischen Hashwerten verknüpften Historie der Änderungen im Software-Repository. Eine Löschung von Änderungsbeiträgen der Historie würde die Arbeit mit diesem Software-Repository unmöglich machen. Zur Erfüllung der Lehre im Studiengang Angewandte Informatik und der damit verbundenen Forschung ist das Versionsverwaltungssystem und die entsprechende Datenverarbeitung notwendig. <br><br>
      Beachten Sie daher bitte den Absatz in Abschnitt VII der Datenschutzerklärung.
    </p>

</form>
</div>
  
    
    </div>