<div class="wholePage">

    <nav style="color: white"> 
  
        <div class="nav-kasten1 nav-kasten">
          <img
              alt="Logo der Hochschule Worms"
              src=""
              width="64"
              height="64"
              class="inline-block"
            />
        </div>
        <div class="nav-kasten2 nav-kasten">
          <a href="home" class="fw-bold text-decoration-none" style="color: white; padding-left: 10%">Startseite</a>
        </div>
          <div class="nav-kasten3 nav-kasten">
            <a href="impressum" class="fw-bold text-decoration-none" style="color: white; padding-left: 10%">Impressum</a>
          </div>
          <div class="nav-kasten4 nav-kasten">
            <h1>Team Green</h1>
          </div>
          <div class="nav-kasten5 nav-kasten">
          </div>
          <div class="nav-kasten6 nav-kasten">
          </div>
          <div class="nav-kasten7 nav-kasten">
          </div>
    </nav>

    <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 text-center wholeBox">
    
    <form class="rounded shadow-lg p-5" style="background-color: rgba(0, 0, 0, 0.6); color: white">
    
    <h1>Impressum</h1>
    
    <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
    <p>Hochschule Worms<br />
    Erenburger Stra&szlig;e 19<br />
    67549 Worms</p>
    
    <h2>Kontakt</h2>
    <p>E-Mail: inf3462@hs-worms.de</p>
    
    <h2>Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle</h2>
    <p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
    
    
    </form>
    </div>
  
    
    </div>