<div class="wholePage">

<nav style="color: white"> 
  
    <div class="nav-kasten1 nav-kasten">
      <img
          alt="Logo der Hochschule Worms"
          src=""
          width="64"
          height="64"
          class="inline-block"
        />
    </div>
    <div class="nav-kasten2 nav-kasten">
      <a href="home" class="fw-bold text-decoration-none" style="color: white; padding-left: 10%">Startseite</a>
    </div>
      <div class="nav-kasten3 nav-kasten">
        <a href="impressum" class="fw-bold text-decoration-none" style="color: white; padding-left: 10%">Impressum</a>
      </div>
      <div class="nav-kasten4 nav-kasten">
        <h1>Team Green</h1>
      </div>
      <div class="nav-kasten5 nav-kasten">
        <a href="galerie" class="fw-bold text-decoration-none" style="color: white">Galerie</a>
      </div>
      <div class="nav-kasten6 nav-kasten">
        <a href="team" class="fw-bold text-decoration-none" style="color: white">Das Team</a>
      </div>
      <div class="nav-kasten7 nav-kasten">
      </div>
</nav>

</div>