<div class="wholePage">

<nav style="color: white"> 
  
    <div class="nav-kasten1 nav-kasten">
      <img
          alt="Logo der Hochschule Worms"
          src="../../assets/Images/hswormslogo.png"
          width="64"
          height="64"
          class="inline-block"
        />
    </div>
    <div class="nav-kasten2 nav-kasten">
      <a href="home" class="fw-bold text-decoration-none" style="color: white; padding-left: 10%">Startseite</a>
    </div>
      <div class="nav-kasten3 nav-kasten">
        <a href="impressum" class="fw-bold text-decoration-none" style="color: white; padding-left: 10%">Impressum</a>
      </div>
      <div class="nav-kasten4 nav-kasten">
        <h1>Team Green</h1>
      </div>
      <div class="nav-kasten5 nav-kasten">
       
      </div>
      <div class="nav-kasten6 nav-kasten">
        <a href="team" class="fw-bold text-decoration-none" style="color: white">Das Team</a>
      </div>
      <div class="nav-kasten7 nav-kasten">
        <img
            alt="Team Green Logo"
            src="../../assets/Images/teamgreenlogo.png"
            width="80"
            height="80"
            class="inline-block"
          />
      </div>
</nav>

<main style="color: white">

  <div class="allcards">
<form class="rounded shadow-lg p-3 namecards" style="background-color: rgba(0, 0, 0, 0.6); color: white; width: 200px">
  <p style="font-weight: bold; font-size: 20px">Product Owner: </p> <p>Tobias Wendler</p>
</form>

<div class="row1 namecards">
  <div style="display: inline-block">
  <form class="rounded shadow-lg p-3" style="margin-right: 10px; background-color: rgba(0, 0, 0, 0.6); color: white; width: 200px">
    <p style="font-weight: bold; font-size: 20px">Scrum Master: </p> <p>Florian Czech</p>
  </form>
</div>
<div style="display: inline-block">
  <form class="rounded shadow-lg p-3" style="background-color: rgba(0, 0, 0, 0.6); color: white; width: 200px">
    <p style="font-weight: bold; font-size: 20px">Developer: </p> <p>Joanis Palaskas</p>
  </form>
</div>
</div>

<div class="row2 namecards" >
  <div style="display: inline-block">
  <form class="rounded shadow-lg p-3" style="margin-right: 10px; background-color: rgba(0, 0, 0, 0.6); color: white; width: 200px">
    <p style="font-weight: bold; font-size: 20px">Developer: </p> <p>Moritz Bayer</p>
  </form>
</div>
<div style="display: inline-block">
  <form class="rounded shadow-lg p-3" style="background-color: rgba(0, 0, 0, 0.6); color: white; width: 200px">
    <p style="font-weight: bold; font-size: 20px">Developer: </p> <p>Amr Aldarwish</p>
  </form>
</div>
</div>

<div class="row3 namecards" >
  <div style="display: inline-block">
  <form class="rounded shadow-lg p-3" style="margin-right: 10px; background-color: rgba(0, 0, 0, 0.6); color: white; width: 200px">
    <p style="font-weight: bold; font-size: 20px">Developer: </p> <p>Marc Vogel</p>
  </form>
</div>
<div style="display: inline-block">
  <form class="rounded shadow-lg p-3" style="background-color: rgba(0, 0, 0, 0.6); color: white; width: 200px">
    <p style="font-weight: bold; font-size: 20px">Developer: </p> <p>Alexander Schweizer</p>
  </form>
</div>
</div>

<div class="row4 namecards" >
  <div style="display: inline-block">
  <form class="rounded shadow-lg p-3" style="margin-right: 10px; background-color: rgba(0, 0, 0, 0.6); color: white; width: 200px">
    <p style="font-weight: bold; font-size: 20px">Developer: </p> <p>Christopher Cloos</p>
  </form>
</div>
<div style="display: inline-block">
  <form class="rounded shadow-lg p-3" style="background-color: rgba(0, 0, 0, 0.6); color: white; width: 200px">
    <p style="font-weight: bold; font-size: 20px">Developer: </p> <p>Hendrik Bruggraber</p>
  </form>
</div>
</div>
</div>





</main>

</div>