// NAV-BAR

nav{
    display: flex;
    width: 100%;
    background-color: rgba(1, 61, 98, 0.8);
    padding-left: 10px;
    padding-right: 20px;
  }
  
  a{
    text-decoration: none;
  }
  
  .nav-kasten1{
    height: 100%;
    width: 4%;
    text-align: center;
    margin-top: 5px; 
    margin-bottom: 5px;
  }
  
  .nav-kasten2{
    height: 100%;
    width: 10%;
    text-align: center;
    margin-top: 22px;
  }
  
  .nav-kasten3{
    height: 100%;
    width: 14%;
    margin-top: 22px;
    text-align: left;
  }
  
  .nav-kasten4{
    width: 44%;
    text-align: center;
    padding-top: 16px;
  }
  
  .nav-kasten5{
    text-align: right;
    width: 14%;
    margin-top: 22px;
    padding-right: 10px;
  }
  
  .nav-kasten6{
    height: 100%;
    width: 10%;
    text-align: center;
    margin-top: 22px;
  }
  
  .nav-kasten7{
    height: 100%;
    width: 4%;
    text-align: right;
    margin-top: -2px;
    text-align: right;
  }
  
  .wholePage{
    width: 100vw;
    height: 250vh;
    background-image: url(../../assets/Images/landschaftbg.png);
    background-size: 100% 100%;
  }

  main{
    height: 100vh;
    // grid-template-columns: 3fr 1fr;
  }

  h1{
    font-size: 35px;
  }

  .clickableBox:hover{
    cursor: pointer;
  }